.Button {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background-image: linear-gradient(to right, rgba(52,37,106,1) , rgba(107,67,156,1));
}

.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.Button:active {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.Button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.5;
}

.error {
  background-color: rgba(240, 87, 108, 1);
}
