.Catalog {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.CatalogContent {
  flex-grow: 1;
  background-color: rgba(242,242,254,1);
  margin-top: 5px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}