.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  color: #ffffff;
  background-image: linear-gradient(to right, rgba(52,37,106,1) , rgba(107,67,156,1));
}

.FooterWrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 1200px;
  margin: 0 auto;
}

.FooterLogo {
  color: #ffffff;
  text-decoration: none;
}

.FooterContactEmail {
  margin-left: 10px;
  color: #ffffff;
  text-decoration: none;
}