.Footer {
  grid-area: footer;
  background-image: linear-gradient(to right, rgba(52,37,106,1) , rgba(107,67,156,1));
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}

.FooterWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.FooterLogo {
  color: #ffffff;
  text-decoration: none;
}

.FooterContactEmail {
  margin-left: 10px;
  color: #ffffff;
  text-decoration: none;
}