.QuizCreator {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  background-image: linear-gradient(to right, rgba(52,37,106,1) , rgba(107,67,156,1));
}

.QuizCreator > div {
  width: 100%;
  max-width: 605px;
  padding: 0 10px;
}

.QuizCreator h1 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.QuizCreator form {
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
